.login-modal {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 483px;
    padding: 48px 0px 0px;
}

.login-container {
    flex: 1 1 0%;
    overflow: auto;
    width: 375px;
    margin: auto;
    flex-direction: column;
    padding-bottom: 60px;
}

.login-container h1 {
    font-size: 32px;
    margin: 16px auto;
    font-weight: bold;
    text-align: center;
}

.login-container p {
    font-weight: 600;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.login-container input {
    position: relative;
    margin-bottom: 9px;
    border-radius: 2px;
    background-color: rgba(22, 24, 35, 0.06);
    border: 1px solid rgba(22, 24, 35, 0.12);
    padding-inline: 12px 24px;
    line-height: 100%;
    font-size: 16px;
    height: 44px;
    width: 100%;
}

.login-container button {
    border-radius: 4px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 44, 85);
    min-width: 120px;
    min-height: 46px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 21px;
}

.sign-up {
    height: 64px;
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    margin: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 18px;
}

.sign-up button {
    margin-left: 5px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: rgb(254, 44, 85);
    background-color: transparent;
    border: none;
    cursor: pointer;
}
