.create-update {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 1vw;
    align-self: center;
    width: 100%;
    max-width: 100vw;
    flex: 1 1 auto;
}

.post-form {
    margin-right: 24px;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    min-width: 420px;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 94.5vh;
}

.post-form h1{
    box-sizing: border-box;
    line-height: 1.5;
    display: block;
    padding-top: 40px;
}

.post-form h3{
    box-sizing: border-box;
    line-height: 1.5;
    display: block;
}

.post-form h4{
    box-sizing: border-box;
    line-height: 1.5;
    display: block;
    padding-top: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 130px;
}

.form-buttons {
    display: flex;
    margin-top: 24px;
    width: 164px;
    background-color: transparent;
}
.post-button {
    margin-right: 16px;
}

.form-buttons button{
    box-sizing: border-box;
    appearance: none;
    min-width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
    height: 48px;
    padding-inline: 23px;
}
