/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Noto+Sans:wght@100&family=Nunito:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Nunito', sans-serif;
}

.formErrors {
    color: red;
}
