.input {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: rgba(22, 24, 35, 0.06);
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 13px;
    flex: 1 1 auto;
    height: auto;
    margin: 11px 8px 11px 0px;
}

.comment-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-comment {
    color: rgba(22, 24, 35, 0.34);
    font-weight: 600;
    cursor: default;
    flex: 0 0 48px;
    font-size: 16px;
    line-height: 48px;
    text-align: left;
    margin-right: 4px;
    background-color: white;
    border: none;
    cursor: pointer;
}
