.hidden {
  display: none;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0;
  right: 0;
  text-align: left;
  list-style-type: none;
  border: 1px solid black;
  background-color: white;
  margin-right: 1.3rem;
  margin-top: .8rem;
  padding: 15px;
  z-index: 1;
}

.profile-dropdown button {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: white;
  border-color: rgba(254, 44, 85);
  background-color: rgba(254, 44, 85);
  min-height: 28px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  cursor: pointer;
  min-width: 88px;
  padding: 0 10px;
  align-items: center;
}

.dropdown-login {
  margin-bottom: 5px;
}

.profile-dropdown.hidden {
  display: none
}

.profile-page-button a {
  line-height: 2px;
  text-decoration: underline;
  color: rgb(254, 44, 85);
}

.profile-dropdown li {
  margin: 2px 0;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding-right: 24px;
  padding-left: 16px;
  box-shadow: 0 1px 10px rgb(187, 187, 187);
}

li {
  list-style: none;
}

.nav-links {
  display: flex;
}

.upload {
  min-width: 110px;
  padding: 0 16px;
  height: 36px;
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  background: white;
  cursor: pointer;
}

.login-button {
  border-radius: 4px;
  border: none;
  color: white;
  background-color: rgba(254, 44, 85);
  min-height: 36px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-left: 16px;
  min-width: 40px;
}

.nav-search {
  margin-right: 10px;
  position: relative;
}

.nav-search form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 11px 14px;
  background: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  position: relative;
  overflow: hidden;
}

.nav-search input {
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  border: none;
  background: transparent;
  outline: none;
  width: 432px;
}

.nav-search button {
  padding: 10px 15px 10px 11px;
  margin: -11px -15px -11px 0px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  color: rgba(18, 18, 19, 0.525);
  border-left: 1.5px solid rgba(178, 177, 177, 0.498);
}

.dropdown {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  width: 100%;
  height: 55px;
}

.message-icon {
  margin-left: 16px;
  cursor: pointer;
  height: 32px;
  padding: 3px 3px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-message {
  font-size: 25px;
  color: rgba(22, 24, 35, 0.501);
  /* height: 100%;
  width: 100%; */
}
