img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.profile-page {
    display: flex;
    padding: 32px 24px 36px;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0px auto;
    box-sizing: content-box;
}

.user-info-profile {
    position: relative;
    flex: 0 0 auto;
    margin-bottom: 20px;
    max-width: 624px;
    padding-right: 92px;
}

.user-data {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    border-radius: 50%;
    background-color: rgba(136, 136, 136, 0.5);
    border-color: rgba(255, 255, 255, .12);
    border-width: 0.5px;
    cursor: pointer;
    background-color: rgba(136, 136, 136, 0.5);
}

.user-img img {
    object-fit: cover;
    max-width: 100%;
    display: block;
    width: 116px;
    height: 116px;
}

.user-text {
    flex: 1 1 0%;
    cursor: pointer;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.user-text h1 {
    font-weight: 700;
    font-size: 32px;
    overflow: hidden;
    text-align: left;
}

.user-text h5 {
    font-weight: 600;
    font-size: 16px;
    height: 25px;
    overflow: hidden;
    max-width: 450px;
    white-space: nowrap;
    display: flex;
    align-items: flex-end;
}

.edit-profile {
    position: relative;
    width: 136px;
    height: 36px;
    padding: 0px;
    margin: 16px 0px 0px;
}

.edit-profile button {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: rgb(22, 24, 35);
    border-color: rgba(22, 24, 35, 0.12);
    background-color: rgb(255, 255, 255);
    min-height: 36px;
    font-weight: 600;
    position: relative;
    justify-content: center;
    cursor: pointer;
    height: 36px;
    font-size: 14.5px;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    min-width: 136px;
    line-height: 24px;
    margin-right: 8px;
}

.edit-profile i {
    width: 20px;
    height: 20px;
    color: rgb(22, 24, 35);
    margin-right: 6px;
}

.button-text {
    display: flex;
    align-items: center;
    justify-content: center;
}


.user-profile-buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    height: 44px;
    margin-bottom: 8px;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.user-profile-buttons button {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 44px;
    padding: 0px 32px;
    cursor: pointer;
    text-align: center;
    color: rgb(166, 166, 166);
    background-color: transparent;
    border: none;
  }

.user-profile-buttons button.active {
    color: black;
    border-bottom: 1px solid black;
}

.user-profile-buttons button:hover {
    border-bottom: 1px solid black;
}

.all-user-vids {
    width: 100%;
}

.all-user-videos {
    display: grid;
    gap: 24px 16px;
    grid-template-columns: repeat(auto-fill, minmax(184px, 1fr));
}

.profile-video {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    background-color: rgba(22, 24, 35, 0.06);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.profile-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    display: block;
    border-radius: 4px;
}

.profile-follow {
    display: flex;
    position: absolute;
    opacity: 1;
    min-height: 28px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    min-width: 88px;
    padding: 0 10px;
    align-items: center;
    transform: translate(5%, 150%);
}
