.side-bar-container {
    padding: 20px 0 20px 8px;
    width: 240px;
    border-right: .5px solid rgb(198, 198, 198);
    position: sticky;
    top: 60px;
    left: 0;
    height: calc(100vh - 60px);
    overflow-y: auto;
    box-shadow: 0 1px 10px rgb(187, 187, 187);
    align-items: stretch;
    min-height: 100%;

}

.side-bar-links {
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(211, 205, 205, 0.606);
}

.side-bar-links li {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
}

.followers {
    padding: 16px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    height: 55%;
    margin-bottom: 200px;

}

.footer {
    position: relative;
    padding-top: 16px;
    border-top: 1px solid rgba(211, 205, 205, 0.606);
}

.footer h3 {
    font-size: 11px;
}

.footer-links {
    display: flex;
    padding: 10px 0;
    font-size: 14px;
}

.footer-links p {
    padding-right: 5px;
}

.footer-links .fa-linkedin {
    color: rgb(10, 102, 194);
}

.footer-links a {
    padding-right: 5px;
}

.made-with {
    font-size: 12px;
}

.madeIcons i {
    padding-right: 10px;
    font-size: 25px;
}

.fa-react {
    color: rgba(9, 56, 131, 0.5);
}

.fa-html5 {
    color: #dd4b25;
}

.fa-css3-alt {
    color: #254bdd;
}

.fa-square-js {
    color: rgba(239,216,29, 1);
}

.fa-python {
    color: #346fa0;
}
.followers h5 {
    padding: 0 8px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    color: rgba(22, 24, 35, .75);
}

.follower {
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    border-radius: 4px;
}

.splash-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.side-img {
    object-fit: cover;
    display: block;
    width: 40px;
    height: 40px;
}

.sidebar-name {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 12px;
    font-weight: 100;
}

.username {
    font-size: 16px;
}

.sidebar-login {
    position: relative;
    padding: 20px 8px 24px 8px;
    margin-right: 10px;
}

.sidebar-login p {
    color: rgba(22, 24, 35, .5);
    font-size: 16px;
    line-height: 22px;
}

.sidebar-login button {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: rgba(254, 44, 85);
    border-color: rgba(254, 44, 85);
    background-color: white;
    min-width: 168px;
    min-height: 48px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}
