.side-bar-container {
    padding: 20px 0 20px 8px;
    width: 240px;
    border-right: .5px solid rgb(198, 198, 198);
}

.side-bar-links {
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(182, 180, 180);
}

.side-bar-links li {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
}

.followers {
    padding: 16px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    position: relative;
}

.footer {
    position: relative;
    padding-top: 16px;
    border-top: 1px solid rgb(181, 181, 181);
}

.followers h5 {
    padding: 0 8px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    color: rgba(22, 24, 35, .75);
}

.follower {
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    border-radius: 4px;
}

.splash-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.side-img {
    object-fit: cover;
    display: block;
    width: 40px;
    height: 40px;
}

.sidebar-name {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 12px;
    font-weight: 100;
}

.username {
    font-size: 16px;
}

.sidebar-login {
    position: relative;
    padding: 20px 8px 24px 8px;
    margin: 0;
}

.sidebar-login p {
    color: rgba(22, 24, 35, .5);
    font-size: 16px;
    line-height: 22px;
}

.sidebar-login button {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: rgba(254, 44, 85, 1);
    border-color: rgba(254, 44, 85, 1);
    background-color: rgba(255, 255, 255, 1);
    min-width: 168px;
    min-height: 48px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}
